{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Overview</span>
				<span class="visually-hidden"> - </span>
        Get Your State Pension
      </h1>
			
      <h2 class="heading-medium">Prototype</h2>
			<p>Last updated: January 2018</p>
			<a class="button button-start" href="https://getyourstatepension.herokuapp.com/sprint13v2/start">Start now</a>
			
			<h2 class="heading-medium">Stats</h2>
			<img class="infographic" src="/public/images/infographics/nov-6.png"/>
      
    </div>
  </div>
</main>

{% endblock %}


